.sheet {
	position: relative;
	min-height: 200px;
	width: calc(100% - 2em);
	box-sizing: border-box;
	display: inline-block;
	padding: 0 1em;
	background: #fff;
	box-shadow: 6px 7px 10px 2px rgba(#000000, 0.34);
	margin-top: 2em;
	padding: 0 1em 2.7em;
}

.sheet__show-add {
	position: absolute;
	right: 6px;
	top: 3px;
	font-size: 40px;
	padding: 10px;
	line-height: 20px;
	font-weight: 900;
	color: #bbb;
	text-shadow: 2px 2px 4px #cecece;
	cursor: pointer;
}

.sheet:last-child {
	margin-bottom: 2em
}

@media screen and (min-width: 900px) {
	.sheet {
		width: calc(50% - 4em)
	}

	.sheet:last-child {
		margin-bottom: initial;
	}
}
