html, body {
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	font-family: Lato, sans-serif;
	color: #717171;
}

#root{
	height: 100%;
}

p {
	margin: 0.5em 0;
}

h3 {
	text-transform: uppercase;
	font-weight: 400;
}

input[type="text"] {
	border: none;
	border-bottom: 1px #ddd solid;
	background: transparent;
}

input[type="text"]:focus {
	outline: none;
	border-bottom: 2px solid #59beda;
}
